
.button {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    color: #fff;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}

.disabled {
    cursor: default !important;
    opacity: 0.5 !important;
}

.button--primary {
    background-color: #775CE5;
}

.button--secondary {
    background-color: #fff;
    border-color: #775CE5;
    color: #775CE5;

    padding: 16px;
}

.button--logout {
    background-color: #fff;
    border-color: #f23152;
    color:  #f23152;

    padding: 16px;
}

.name {
    color: #fff;
    text-decoration: none;
}
