.item__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border-radius: 12px;
    width: 100%;
    color: #1D1D1F;
    background-color: white;
    font-size: 14px;
}

.total {
    color: #1D1D1F;
    font-size: 38px;
    font-weight: 700;
    height: 38px;
}