.transaction__sum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    /* height for skeleton */
    height: 16px;
}

.transaction__dollar {
    color: #1D1D1F;
    font-weight: 700;
}

.transaction__coins {
    color: #939199;
}

.transaction__dollar--received,
.transaction__coins--received {
    color: #24B277 !important;
}