.total__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38px;
    color: #1D1D1F;
}

.total {
    color: #1D1D1F;
    font-size: 38px;
    font-weight: 700;
    height: 38px;
    /* width: 100%; */
}
.total__coins {
    color: #403f43;
    font-size: 38px;
    font-weight: 500;
}

.total--receipt,
.total__coins--receipt {
    color: #24B277 !important;
}

/* //?????????? */
.total--balance,
.total__coins--balance {
    color: #fff;
}

